.crt {
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: calc(100% - 4px);
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
      ),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 20;
    background-size: 100% 0.4rem, 4px 100%;
    animation: flicker 1.4s infinite, moveAnim 0.4s infinite linear;
    pointer-events: none;
    will-change: top, opacity;
  }

  @supports (-moz-appearance: none) {
    .crt::before {
      animation: none;
    }
  }
}

.crt-color-filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2000px;

  &--green {
    filter: brightness(50%) sepia(1) hue-rotate(109deg) saturate(984.5%)
      brightness(104.5%);
  }

  &--tan {
    filter: brightness(50%) sepia(1) hue-rotate(1deg) saturate(334.5%)
      brightness(118%);
  }

  &--blue {
    filter: brightness(50%) sepia(1) hue-rotate(156deg) saturate(334.5%)
      brightness(113%);
  }
}
