.crt {
    // For fixing mobile width

    &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: -2000px;
        right: 0;
        margin: 0 auto;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        z-index: 20;
        background-size: 100% .4rem, 3px 100%;
        animation: flicker 0.15s infinite, moveAnim 0.02s infinite linear;
        pointer-events: none;
    }
}

.crt-color-filter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -2000px;
        background-color: $color-black;

        &--green {
            filter: brightness(50%) sepia(1) hue-rotate(109deg) saturate(984.5%) brightness(104.5%);
        }

        &--tan {
            filter: brightness(50%) sepia(1) hue-rotate(1deg) saturate(334.5%) brightness(118%);
        }

        &--blue {
            filter: brightness(50%) sepia(1) hue-rotate(156deg) saturate(334.5%) brightness(113%);
        }
}
