// COLORS

$color-white: #fff;
$color-black: rgb(53, 53, 53);

$color-blue: #2ecfff;
$color-tan: #ffb641;
$color-green: #1bff80;
$color-light-blue: #c0ffff;

// OTHER

$section-height: 60rem;
$border-width: 0.3rem;

:root {
  --loading-speed: 1;
}
