.uses {
    display: grid;
    grid-template-columns: 2fr 3fr;
    position: relative;
    height: $section-height;

    &__list {
        position: relative;
        left: -2rem;
        padding-left: 2rem;

        direction: rtl;
        overflow-y: scroll;
        list-style-type: none;
        left: calc(#{$border-width} * -1);

        scroll-snap-type: x mandatory;
    }

    &__list-item {
        margin: 0;
        padding: 1rem 1.5rem;
        cursor: pointer;
        border: $border-width solid transparent;
        scroll-snap-align: start;
        text-align: left;

        &--active {
            border-color: $color-white;
            background-color: rgba($color-white, 0.2);
        }
    }

    &__items {
        display: block;
    }

    &__item {
        display: none;
        height: 100%;
        flex-direction: column;
    }

    &__item--visible {
        display: flex;
    }

    &__icon {
        height: 60%;
        text-align: center;
        padding: 5rem;
    }

    &__icon-img {
        filter: drop-shadow(0 0 10px $color-white);
    }

    &__description {
        padding: 1rem 0 0 1.5rem;
        text-align: justify;
        line-height: 3.2rem;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'null condition weight'
            'text text text';
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;
    }

    &__condition {
        grid-area: condition;
        border-top: $border-width solid $color-white;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;

        &--text, &--value {
            display: inline-block;
        }
    }

    &__weight {
        grid-area: weight;
        border-top: $border-width solid $color-white;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;

        &--text, &--value {
            display: inline-block;
        }
    }

    &__text {
        border-top: $border-width solid $color-white;
        grid-area: text;
        padding: 0.5rem;
        height: 40px; // Need this for short border on right side

        line-height: 4rem;
    }
}
