.u-margin-bottom { margin-bottom: 1rem !important; }

.u-center-element {
	display: flex;
	justify-content: center;
}

.u-visibility-hidden {
	visibility: hidden !important;
}

/* Scroll styling */

// #todo other scroll bars.
.u-scroll-container::-webkit-scrollbar {
	width: $border-width;
	background-color: transparent;
}

.u-scroll-container::-webkit-scrollbar-track {
	background-color: transparent;
}

.u-scroll-container::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, $color-white, transparent);
}


// fancy borders

.u-top-to-bottom, .u-right-top-to-bottom, .u-bottom-to-top {
	position: relative;
}
.u-top-to-bottom:before, .u-top-to-bottom:after, .u-right-top-to-bottom:after {
	content: "";
	position: absolute;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($color-white), to(transparent));
	background-image: -webkit-linear-gradient($color-white, transparent);
	background-image: -moz-linear-gradient($color-white, transparent);
	background-image: -o-linear-gradient($color-white, transparent);
    background-image: linear-gradient($color-white, transparent);
    top: calc(#{$border-width} * -1);
    bottom: calc(#{$border-width} * -1);
    width: $border-width;
}
.u-top-to-bottom:before {
    left: calc(#{$border-width} * -1);
}
.u-top-to-bottom:after, .u-right-top-to-bottom:after {
    right: calc(#{$border-width} * -1);
}

.u-bottom-to-top:before, .u-bottom-to-top:after {
	content: "";
	position: absolute;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to($color-white));
	background-image: -webkit-linear-gradient(transparent, $color-white);
	background-image: -moz-linear-gradient(transparent, $color-white);
	background-image: -o-linear-gradient(transparent, $color-white);
	background-image: linear-gradient(transparent, $color-white);
	top: calc(#{$border-width} * -1);
	bottom: calc(#{$border-width} * -1);
	width: $border-width 
}

.u-bottom-to-top:before { left: calc(#{$border-width} * -1); }
.u-bottom-to-top:after { right: calc(#{$border-width} * -1); }