$primary-color: #2ECFFF;

contact-component {

    display: flex;
    flex-direction: column;

    h2 {
        display: block;
        font-size: 1.5em;
        text-align: center;
        margin: 10px 0;
    }

    p {
        display: block;
        text-align: justify;
        font-size: 0.9em;
        padding: 20px;
        line-height: 2;
        font-weight: 400;
        margin-bottom: 40px;
    }

    em {
        font-size: 1.2em;
    }

    .button {
        display: inline-block;
        padding: 10px;
        border: 3px solid;
        margin: auto;
        cursor: pointer;
    }

}
