$primary-color: #fff;

footer-component {
    display: inline-block;
	border-bottom: 3px solid $primary-color;
	height: 35px;
	width: 100%;
	
	.list {
		position: absolute;
		bottom: -25px;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
}
