$primary-color: #fff;

header-component {
	position: relative;
	width: 100%;
	
	.title {
		position: absolute;
		display: inline-block;
		padding: 0 10px;
		letter-spacing: 4px;	
		
        top: -10px;

		background-color: #111;
		z-index: 1;
		left: 40px;
	}
	
	ul {
		display: flex;
		justify-content: space-between;
	}
	
	li {
		display: inline-block;
		border-top: 3px solid $primary-color;
		height: 35px;
		
		padding: 4px 5px;
		
		.value {
			display: inline-block;
			margin-left: 12px;
		}
		
		.text {
			display: inline-block;
		}
	}	
	
	li:nth-child(1) {
		text-align: right;
		width: 260px;	
	}
	
	li:nth-child(2) {
		width: 150px;
	}
	
	li:nth-child(3) {
		width: 120px;
	}
	
	li:nth-child(4) {
		width: 170px;	
	}
	
	li:nth-child(n + 2) {
		display: flex;
		margin-left: 10px;
		justify-content: space-between;
	}

}	
