skills-component {
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    font-size: 0.9em;

    .list {
        position: relative;
        left: -20px; 
        padding-left: 20px;

        flex: 3;        

        direction: rtl;
        overflow-y: scroll;
        height: 400px;
        list-style-type: unset;

        li {
            margin: 0;
            padding: 10px 15px;
            cursor: pointer;
            border: 3px solid #111;
        }

        .active {
            border: 3px solid;
        }

    }

    .item {
        flex: 5;
        direction: ltr;

        p {
            border-top: 3px solid;
            padding: 10px 0;
            overflow-y: visible;
            height: 20px;
            width: calc(100% - 3px);
            z-index: 2;
            display: inline-block;
        }

        .skill-icon {
            text-align: center
        }

        .dev-icon {
            height: 200px;
            margin: 30px 0;
        }

    }
}
