@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

//$primary-color: #1BFF80;
$primary-color: #2ECFFF;
//$primary-color: #C0FFFF;
//$primary-color: #FFB641;


* {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 1.06em;
	
	text-shadow: 0 0 8px $primary-color;
	color: $primary-color;

    padding: 0;
    margin: 0;
}

html, body {
	height: 100%;
    overflow-y: hidden;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

main {
	width: 800px;
}

header-component {
	position: relative;
	width: 100%;
	
	.title {
		position: absolute;
		display: inline-block;
		padding: 0 10px;
		letter-spacing: 4px;	
		
        top: -10px;

		background-color: black;
		z-index: 1;
		left: 40px;
	}
	
	ul {
		display: flex;
		justify-content: space-between;
	}
	
	li {
		display: inline-block;
		border-top: 3px solid $primary-color;
		height: 35px;
		
		padding: 4px 5px;
		
		.value {
			display: inline-block;
			margin-left: 12px;
		}
		
		.text {
			display: inline-block;
		}
	}	
	
	li:nth-child(1) {
		text-align: right;
		width: 260px;	
	}
	
	li:nth-child(2) {
		width: 150px;
	}
	
	li:nth-child(3) {
		width: 120px;
	}
	
	li:nth-child(4) {
		width: 170px;	
	}
	
	li:nth-child(n + 2) {
		display: flex;
		margin-left: 10px;
		justify-content: space-between;
	}

}	

section {
	margin: 30px 0;
	height: 400px;
	position: relative;
	left: -3px;
	width: 806px;

	overflow-x: auto;
	direction: rtl;
	text-align: left;
	
	.list {
		margin-left: 20px;
	}
	
	li {
		margin-top: 20px;
	}

    .item {
        filter: hue-rotate(340deg);
    }
}

.scroll-container::-webkit-scrollbar {
	width: 3px;
	background-color: black;
}

.scroll-container::-webkit-scrollbar-track {
	background-color: black;
}

.scroll-container::-webkit-scrollbar-thumb {
	background: linear-gradient(black, $primary-color, black);
}

footer-component {
    display: inline-block;
	border-bottom: 3px solid $primary-color;
	height: 35px;
	width: 100%;
	
	.list {
		position: absolute;
		bottom: -25px;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	
	router-link {
		display: inline-block;
		background-color: black;
		padding: 10px 20px;
        border: 3px solid black;
        cursor: pointer;
	}
	
	router-link.active {
		border: 3px solid;
	}
}

/* crt */

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 4px, 3px 100%;
	animation: flicker 0.15s infinite, moveAnim 0.02s infinite linear;
  pointer-events: none;
}

@keyframes moveAnim {
	100% { 
		top: 4px;
	}
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

/* fancy borders */

.ps-top-to-bottom, .ps-right-top-to-bottom, .ps-bottom-to-top {
	position: relative;
}
.ps-top-to-bottom:before, .ps-top-to-bottom:after, .ps-right-top-to-bottom:after {
	content: "";
	position: absolute;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($primary-color), to(transparent));
	background-image: -webkit-linear-gradient($primary-color, transparent);
	background-image: -moz-linear-gradient($primary-color, transparent);
	background-image: -o-linear-gradient($primary-color, transparent);
	background-image: linear-gradient($primary-color, transparent);
	top: -3px;
	bottom: -3px;
	width: 3px;
}
.ps-top-to-bottom:before {
	left: -3px;
}
.ps-top-to-bottom:after, .ps-right-top-to-bottom:after {
	right: -3px;
}

.ps-bottom-to-top:before, .ps-bottom-to-top:after {
	content: "";
	position: absolute;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to($primary-color));
	background-image: -webkit-linear-gradient(transparent, $primary-color);
	background-image: -moz-linear-gradient(transparent, $primary-color);
	background-image: -o-linear-gradient(transparent, $primary-color);
	background-image: linear-gradient(transparent, $primary-color);
	top: -3px;
	bottom: -3px;
	width: 3px;
}

.ps-bottom-to-top:before {
	left: -3px;
}

.ps-bottom-to-top:after {
	right: -3px;
}
