@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 2.5rem;
    color: $color-white;
    text-shadow: 0 0 10px $color-white;
    letter-spacing: .4rem;
}

a {
    appearance: none;
    color: $color-white;
}

.link:link,
.link:any-link,
.link:-webkit-any-link,
.link:active,
.link:visited {
    color: $color-white;
}

.paragraph {
    margin: 75px 10px;
}
